<footer>
    <ul>
        <li><a href="#">Onze Visie</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Privacy voorwaarde</a></li>   
    </ul>
    <p>&copy; 2023 CrossMarx</p>
</footer>
</body>
</html>