<%- include('./partials/head') %>

<main>
    <section>
     
        <form action="/vragenlijst" method="post">
            <% sdgs.forEach(function (sdg){ %>
                <label>
                    <input type="checkbox" name="id" value="<%=sdg.icon%>">
                    <picture>
                        <!-- <source srcset="https://fdnd-agency.directus.app/assets/"
                        type="image/webp"
                        <source srcset="https://fdnd-agency.directus.app/assets/"
                        type="image/avif" -->
                        <img src="https://fdnd-agency.directus.app/assets/<%= sdg.icon %>?format=webp alt=" class="clickable-image" width="250" height="250">
                    </picture>
                </label>
            <% }) %>
            <button type="submit" id="back-button" class="vragenlijst-btn">Naar vragenlijst</button>
        </form>
    </section>
    
</main>

    
<%- include('./partials/foot') %>