<%- include('./partials/head') %>

<main>
    <section>
     <!-- <dialog id="favDialog">
    </dialog>
    <output></output> -->
        <form action="/vragenlijst" method="post">
            <% sdgs.forEach(function (sdg){ %>
                <label>
                    <input type="checkbox" name="id" value="<%=sdg.icon%>">
                   
                      
                        <!-- <source srcset="https://fdnd-agency.directus.app/assets/?webp" type="image/webp">
                        <source srcset="https://fdnd-agency.directus.app/assets?avif" type="image/avif"> -->
                        <img src="https://fdnd-agency.directus.app/assets/<%= sdg.icon %>format=webp alt=" class="clickable-image" width="250" height="250">
                    
                    
                </label>
                <!-- <p> -->
                  <!-- <label>
                    Deze sdgs berekenen?
                  </label>
                </p>
                <div>
                  <button value="cancel" formmethod="dialog">Terug</button>
                  <button id="confirmBtn" value="default">Bevestig</button>
                </div> -->
            <% }) %>
            <button type="submit" id="back-button" id="showDialog" class="vragenlijst-btn">Naar vragenlijst</button>
        </form>

    </section>
    
</main>

    
<%- include('./partials/foot') %>