<%- include('./partials/head') %>

<main>
    <section>
      <button class="open-button">Open SDG's</button>
      
     <dialog  id="favDialog">
        <form action="/vragenlijst" method="post">
            <% sdgs.forEach(function (sdg){ %>
                <label>
                    <input type="checkbox" name="id" value="<%=sdg.icon%>">
                   
                    

                        <img src="https://fdnd-agency.directus.app/assets/<%= sdg.icon %>format=webp alt=" class="clickable-image" width="250" height="250">
                     
                    
                </label>

            <% }) %>

            <button type="submit" id="back-button" id="showDialog" class="vragenlijst-btn">Naar vragenlijst</button>
        </form>
        <button class="close-button">Sluit SDG's</button>
      </dialog>
      <output></output>

    </section>
            <!-- <p>
              <label>
                Deze sdgs berekenen?
              </label>
            </p>
            <div>
              <button value="cancel" formmethod="dialog">Terug</button>
              <button id="confirmBtn" value="default">Bevestig</button>
            </div> -->
  
    
</main>

    
<%- include('./partials/foot') %>
