<%- include('./partials/head.ejs') %>
<main>
    <header>
        <h1>Dashboard</h1>
    </header>
    <section class="profile"></section>
    <section>
        <h2>Begin met opzetten</h2>
        <label> Beginner
            <progress id="file" value="32" max="100"> 32% </progress>
        </label>
        <details>
            <summary>Info over hoe de badge gehaald kan worden</summary>
            <h3>Stappenplan</h3>
            <ol>
                <li><h3>Stakeholders</h3>
                    <i>Info over hoe stakeholders werken</i>
                </li>
                <li>
                    <h3>SDG's</h3>
                <i>Info over hoe sdg's werken</i>
                </li>
                <li>
                    <h3>Scores</h3>
                    <i>Info over hoe scores op sdg's werken</i>
                </li>
            </ol>
        </details>
        <h3>Suggesties</h3>
        <article>
            <h4>Stakeholders</h4>
            <i>Info over hoe je stakeholders</i>
        </article>
    </section>   
    
    <section>
        <h2>Stakeholders</h2>
        <section>
            <article>
                <h3>Financiers</h3>
                <i>info over financiers</i>
                <p>Voeg uw financier toe*</p>
            </article>
            <article>
                <h3>Klanten</h3>
                <i>info over klanten</i>
                <p>Voeg nog 2 klanten toe*</p>
            </article>
            <article>
                <h3>Leveranciers</h3>
                <i>info over leveranciers</i>
                <p>Voeg uw leverancier toe*</p>
            </article>
            <article>
                <h3>Medewerkers</h3>
                <i>info over medewerkers</i>
                <p>Voeg uw medewerker toe</p>
            </article>
            <article>
                <h3>Omgeving</h3>
                <i>info over omgeving</i>
                <p>Voeg uw omgeving toe*</p>
            </article>
        </section>
    </section>


</main>




<%- include('./partials/foot.ejs') %>