<%- include('./partials/head') %>

<h1>Kies een stakeholder.</h1>
<h3>Vergeet niet dat je altijd kunt teruggaan om een andere stakeholder aan te klikken.</h3>

<section id="choosable-stakeholders">
    <div class="choosable-stakeholders-img">
    <img src="https://img.freepik.com/premium-vector/een-cartoon-van-een-fabriek-waar-rook-uit-komt_627567-3265.jpg" alt="">
    <img src="https://lofhrm.nl/wp-content/uploads/2020/09/medewerker-en-werknemer465x330.jpg" alt="">
    <img src="https://i.pngimg.me/thumb/f/720/5991339497881600.jpg" alt="">
    <img src="https://img.freepik.com/premium-vector/groen-toerisme-natuurreizen-kleurrijke-omgeving-zomerlandschap-ontwerp-cartoon-stijl-illustratie-geisoleerd-op-wit-wandelen-man-met-rugzak-buiten-reizen-rivier-naaldbos_169479-1360.jpg" alt="">
    <img src="https://don16obqbay2c.cloudfront.net/wp-content/uploads/Supliers-01-01-01-1458746333.jpg" alt="">
    <img src="https://s3-eu-central-1.amazonaws.com/cartoons-s3/styles/product_detail_image/s3/70636005-00B9-449B-826D-9786EA1035C9.jpeg?itok=vedrHYOK" alt="">
    </div>
    <fieldset>
        <% stakeholders.forEach(function (stakeholder){ %>
        <label>
            <input type="radio" name="chosenItem" value="<%= stakeholder.name %>">
            <%= stakeholder.name %>
        </label>
        <% }) %>
    </fieldset>
    <section class="btn-stakeholders">
        <!-- <form action="/" method="post">
            <button class="back-button">&#8592;Back to Login</button>
        </form> -->
        <form action="/SDG" method="post">
            <button type="submit" class="stakeholder-btn">Naar de SDG's!&#8594;</button>
        </form>
    </section>
</section>

<%- include('./partials/foot') %>