<%- include('./partials/head') %>
<h2>Kan je per SDG op een schaal van 1/5 aangeven hoe groot de <span>positieve</span> bijdrage is?</h2>
  <h3>Denk hier heel zorgvuldig over na, dit is belangrijk voor de uiteindelijke uitslag.</h3>
 <section>
  <% sdgs.forEach(function (sdg){ %>
   
        
    <img src="<%=sdg.icon%>" alt="">

   
<% }) %>
</section>
      
    









<%- include('./partials/foot') %>