<%- include('./partials/head') %>
<h2>Kan je per SDG op een schaal van 1/5 aangeven hoe groot de <span>positieve</span> bijdrage is?</h2>
  <h3>Denk hier heel zorgvuldig over na, dit is belangrijk voor de uiteindelijke uitslag.</h3>
 
      
    
    <!-- <form action="/dashboard" method="post">
  <button class="vragenlijst-btn">Submit</button>
  </form>

  <form action="/SDG" method="post">
    <button class="back-button">Back</button>
  </form> -->









<%- include('./partials/foot') %>